<div class="appheader">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="" href="/" style="margin-left: 10px;">
            <img src="../assets/images/logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="220" height="28">
          </a>
        </div>

        <button class="button navbar-burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </button>
          
          <div class="navbar-menu" id="navMenu">
            <div class="navbar-start">
              <!-- adds element to left side of navbar -->
            </div>
              
            <div class="navbar-end" style="margin-right: 20px">
              <!-- adds element to right side of navbar -->
              <a *ngIf="auth == null" class="navbar-item navItem" href="/">
                Login 
              </a>
              <a *ngIf="auth == null" class="navbar-item navItem" href="/register">
                Sign Up
              </a>
              <a *ngIf="auth != null" class="navbar-item navItem" (click)="logout()" href="">
                Log out
              </a>
            </div>
          </div>

      </nav>
</div>

<div class="container">
  <router-outlet></router-outlet> 
</div>

<footer class="footer appfoot">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>FA-System</strong> by <a href="">somebody & nobody</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. 
      </p>
    </div>
  </div>
</footer>

<!-- eb4179 -->


